---
// src/layouts/ArticleLayout.astro
import "Styles:/markdown.hugo.css"
import NavigationLayout from "./NavigationLayout.astro";
import { SiteSettings, ToShortDate } from "../utilities";
import type { CollectionTypes } from "../types";

type Props = CollectionTypes.Article;

const { data } = Astro.props;

const CoverImage = data.Cover ? {
    Source: data.Cover,
    Caption: `Featured image for article titled ${data.Title}`
} : undefined;
---

<NavigationLayout
    Title={data.Title}
    Description={data.Caption}
    OpenGraph={{
        Type: "article",
        Image: CoverImage
    }}
    Keywords={data.Tags}
>
    <article class="max-w-5xl mx-auto">
        <section class="grid gap-4 mb-8">
            <div class="flex justify-between items-end gap-2 text-surface-400">
                <p class="text-base">
                    {ToShortDate(data.Published)}
                </p>
            </div>
            {
                data.Tags && (
                    <div class="flex gap-2 flex-wrap overflow-x-auto text-surface-400 text-sm">
                        {data.Tags.slice(0, 4).map((e) => (
                            <p class="flex bg-base-400 justify-center items-center rounded-lg px-2 py-1 shrink-0">
                                {e}
                            </p>
                        ))}
                    </div>
                )
            }

            <p class="uppercase text-surface-400 font-semibold text-base mt-4">
                {data.Series ?? SiteSettings.Articles.DefaultSeries}
            </p>

            <div class="grid gap-2">
                <h1 class="text-2xl text-surface-400 font-semibold">{data.Title}</h1>
                <p class="text-lg text-surface-400">{data.Caption}</p>
            </div>

            {CoverImage && (
                <div class="rounded-lg border border-base-400 shadow-lg overflow-hidden">
                    <img src={CoverImage.Source} alt={CoverImage.Caption} />
                </div>
            )}
        </section>

        <section class="markdown text-lg leading-8">
            <slot />
        </section>

    </article>
</NavigationLayout>