---
// src/layouts/ArticleSingleView.astro
import "Assets:/markdown.css"
import NavigationView from "Views:/NavigationView.astro";
import { GetReadingTime, SiteSettings, Slugify, ToDescriptiveDate } from "../utilities";
import type { CollectionTypes } from "../types";
import ArticlePreview from "Partials:/ArticlePreview.astro";
import { render } from 'astro:content';
import ImagePartial from "Partials:/ImagePartial.astro";
import KeyValuePartial from "Partials:/KeyValuePartial.astro";
import BadgePartial from "Partials:/BadgePartial.astro";

type Props = {
    Current: CollectionTypes.Article
    Previous?: CollectionTypes.Article | null
    Next?: CollectionTypes.Article | null
}

const { Current, Previous, Next } = Astro.props;

const CoverImage = Current.data.Cover ? {
    Source: Current.data.Cover,
    Caption: `${Current.data.Title}`
} : undefined;

const { Content } = await render(Current);
---

<NavigationView 
    Title={Current.data.Title} 
    Description={Current.data.Caption} 
    OpenGraph={{ Type: "article", Image: CoverImage }} 
    Keywords={Current.data.Tags}
    containerstyles="max-w-6xl"
>
    <article>
        <div class="grid gap-4 justify-center text-base text-center mb-12">
            {Current.data.Series && (
                <BadgePartial class="mb-2" label={Current.data.Series} url={`${SiteSettings.Articles.SeriesPagePath}/${Slugify(Current.data.Series)}`} />
            )}

            <h1 class="text-4xl text-mocha-text font-semibold">{Current.data.Title}</h1>
            <p class="text-base text-mocha-caption max-w-2xl">{Current.data.Caption}</p>

            <div class="grid grid-cols-3 mt-8">
                <KeyValuePartial label={SiteSettings.Articles.PublishedDateTitle} value={ToDescriptiveDate(Current.data.Published)} />
                <KeyValuePartial label={SiteSettings.Articles.AuthorTitle} value={Current.data.Author} />
                <KeyValuePartial label={SiteSettings.Articles.ReadTimeTitle} value={`${GetReadingTime(Current.body ?? "")} min`} />
            </div>
        </div>

        <div class="text-base">
            {CoverImage && (
                <div class="rounded-md border border-mocha-overlay shadow-lg overflow-hidden img-wrap shimmer mb-6">
                    <ImagePartial
                        imgonly={true}
                        src={CoverImage.Source}
                        alt={CoverImage.Caption}
                    />
                    <p class="text-mocha-subtext p-4 text-center">{CoverImage.Caption}</p>
                </div>
            )}

            <div class="markdown text-base">
                <Content components={{ img: ImagePartial }} />
            </div>
        </div>

        <div>
            <p class="text-mocha-subtext text-left mt-20 mb-4">{SiteSettings.Articles.RelatedArticlesTitle}</p>
            <div class="flex flex-col md:flex-row gap-4 justify-between">
                <div class="grid gap-2 flex-1">
                    {Previous && (<ArticlePreview {...Previous} />)}
                </div>
                <div class="grid gap-2 flex-1">
                    {Next && (<ArticlePreview {...Next} />)}
                </div>
            </div>
        </div>
    </article>
</NavigationView>