---
// src/layouts/ArticleLayout.astro
import "Styles:/markdown.hugo.css"
import NavigationLayout from "./NavigationLayout.astro";
import { SiteSettings, ToShortDate } from "../utilities";
import type { CollectionTypes } from "../types";
import TagsPartialAstroComponent from "Partials:/TagsPartial.astro";

type Props = CollectionTypes.Article;

const { data } = Astro.props;

const CoverImage = data.Cover ? {
    Source: data.Cover,
    Caption: `Featured image for article titled ${data.Title}`
} : undefined;
---

<NavigationLayout
    Title={data.Title}
    Description={data.Caption}
    OpenGraph={{
        Type: "article",
        Image: CoverImage
    }}
    Keywords={data.Tags}
>
    <article class="max-w-5xl mx-auto">
        <section class="grid gap-4 mb-8">
            {data.Tags && <TagsPartialAstroComponent Tags={data.Tags} />}

            <div class="grid gap-1 text-surface-400 text-base mt-4">
                <div class="flex justify-between items-end gap-2">
                    <p>
                        {ToShortDate(data.Published)}
                    </p>
                </div>

                <p class="uppercase font-semibold">
                    {data.Series ?? SiteSettings.Articles.DefaultSeries}
                </p>
            </div>

            <div class="grid gap-2">
                <h1 class="text-2xl text-surface-100 font-semibold">{data.Title}</h1>
                <p class="text-lg text-surface-200">{data.Caption}</p>
            </div>

            {CoverImage && (
                <div class="rounded-lg border border-surface-900 shadow-lg overflow-hidden">
                    <img src={CoverImage.Source} alt={CoverImage.Caption} />
                </div>
            )}
        </section>

        <section class="markdown text-lg leading-8">
            <slot />
        </section>

    </article>
</NavigationLayout>