---
// src/layouts/NavigationView.astro
import type { ComponentProps } from "astro/types";

import HeadPartial from "Partials:/HeadPartial.astro";
import BaseHTMLView from "Views:/BaseHTMLView.astro";
import IconPartial from "Partials:/IconPartial.astro";
import { SiteSettings } from "../utilities";
import NavigationLinkPartial from "Partials:/NavigationLinkPartial.astro";
import BadgePartial from "Partials:/BadgePartial.astro";

type Props = ComponentProps<typeof HeadPartial> & {
    container?: boolean
}

const currentPath = Astro.url.pathname;
const { container, ...headprops } = Astro.props
const sociallinkclass = (key: string) => "flex justify-center items-center p-2 leading-none rounded h-full text-ink-default text-base hover:bg-" + key;
const mainclass = "relative min-h-screen px-4 flex flex-col" + (container ? " container mx-auto" : "w-full");
---
<BaseHTMLView {...headprops}>
    <main class={mainclass}>
        <nav class="fixed top-4 inset-x-0 flex justify-center z-10">
            <div id="sitenav" class="flex justify-center p-1 rounded-md overflow-hidden border border-paint-surface bg-paint-base transition-all duration-300 ease-in-out">
                {SiteSettings.Links.length > 0 && (  
                    <ul class="flex items-center justify-center gap-4 px-3">
                        {SiteSettings.Links.map((e) => {
                            const isactive = currentPath === e.Hyperlink || (e.Hyperlink !== '/' && currentPath.startsWith(e.Hyperlink));
                            const itemclass = `uppercase text-sm font-semibold transition-all duration-250 ${isactive ? "text-ink-default font-bold decoration-ink-default" : "text-ink-subtext hover:text-ink-default"}`
                            return (
                                <li>
                                    <a class={itemclass} href={e.Hyperlink} title={e.Label} aria-current={isactive ? "page" : undefined}>
                                        {e.Label}
                                    </a>
                                </li>
                            );
                        })}
                    </ul>
                )}
                {SiteSettings.Socials.length > 0 && (
                    <ul class="flex items-center justify-center gap-1">
                        {SiteSettings.Socials.map((e) => (
                            <li>
                                <a
                                    class={sociallinkclass(e.Icon)}
                                    href={e.Hyperlink} target="_blank" aria-label={`Opens link to ${e.Label}`}
                                >
                                    {e.Icon ? (<IconPartial class="size-5" name={e.Icon} />) : (<span class="uppercase px-1.5">{e.Label}</span>)}
                                </a>
                            </li>
                        ))}
                    </ul>
                )}
            </div>
        </nav>
        <div class="flex-1 flex flex-col gap-4 w-full shrink pt-32">
            <slot />
        </div>
        <footer class="pb-10 pt-20 flex justify-center gap-2">
            <BadgePartial label={SiteSettings.Footer.Report.Label} url={SiteSettings.Footer.Report.Hyperlink} />

        </footer>
    </main>
</BaseHTMLView>