---
import type { ComponentProps, HTMLAttributes } from "astro/types";

import HeadPartial from "Partials:/HeadPartial.astro";
import BaseLayout from "Views:/BaseLayout.astro";
import IconPartial from "Partials:/IconPartial.astro";
import { SiteSettings } from "../utilities";
import NavigationLinkPartial from "Partials:/NavigationLinkPartial.astro";

type Props = {
    headprops: ComponentProps<typeof HeadPartial>
    styles?: string
}

const { headprops, styles } = Astro.props

const SocialLinkClass = (key: string) => "flex justify-center items-center p-2 leading-none rounded-md h-full bg-mocha-surface text-mocha-text text-base hover:bg-" + key;
---
<BaseLayout {...headprops}>
    <main class={`min-h-screen px-4 flex w-full flex-col ${styles}`}>
        <header class="grid gap-6 py-4 lg:py-12">
            <slot name="pre-navigation" />

            <nav class="mx-auto grid gap-8">
                {SiteSettings.Socials.length > 0 && (  
                    <ul class="flex gap-2 justify-center">
                        {SiteSettings.Socials.map((e) => (
                            <li>
                                <a class={SocialLinkClass(e.Icon)} href={e.Hyperlink} target="_blank" aria-label={`Opens link to ${e.Label}`}>
                                    {e.Icon ? (<IconPartial class="size-6" name={e.Icon} />) : (<span class="uppercase px-1.5">{e.Label}</span>)}
                                </a>
                            </li>
                        ))}

                    </ul>
                )}

                {SiteSettings.Links.length > 0 && (  
                    <ul class="flex gap-2 justify-center">
                        {SiteSettings.Links.map((e) => (
                            <li><NavigationLinkPartial Hyperlink={e.Hyperlink} Label={e.Label} /></li>
                        ))}

                    </ul>
                )}
            </nav>
        </header>
        <div class="flex-1 w-full shrink">
            <slot />
        </div>
        <footer class="py-10 flex justify-center gap-2">
            <NavigationLinkPartial Hyperlink={SiteSettings.Footer.Report.Hyperlink} Label={SiteSettings.Footer.Report.Label} />
        </footer>
    </main>
</BaseLayout>