---
import type { CollectionTypes } from "../types";
import { SiteSettings, ToShortDate } from "../utilities";
import TagsPartialAstroComponent from "./TagsPartial.astro";

type Props = CollectionTypes.Article;
const article = Astro.props;

const getArticlePath = (id: string) => `/articles/${id}`;
---

<a
    href={getArticlePath(article.id)}
    class="relative rounded-md hover:rounded-xl overflow-hidden border border-mocha-overlay bg-mocha-surface hover:bg-mocha-mantle transition-all duration-200 ease-in-out group"
>
    <div class="relative size-full grid grid-rows-[auto_auto_auto_1fr] gap-4 p-6">        
        <p class="uppercase text-mocha-subtext font-semibold text-base">
            {article.data.Series ?? SiteSettings.Articles.DefaultSeries}
        </p>
        <div class="grid gap-2">
            <p class="text-base text-mocha-text font-semibold">{article.data.Title}</p>
            <p class="text-base opacity-100 text-mocha-caption">{article.data.Caption}</p>
        </div>
        {article.data.Tags && (<TagsPartialAstroComponent Tags={article.data.Tags} />)}
        <div class="flex justify-between items-end gap-2 text-mocha-subtext">
            <p class="text-base">{ToShortDate(article.data.Published)}</p>
        </div>
    </div>
</a>
