---
import type { CollectionTypes } from "../types";
import { GetReadingTime, GetArticleLink, SiteSettings, ToShortDate } from "../utilities";

type Props = CollectionTypes.Article & { gridspan?: string; };

const { id, data, body, gridspan = false } = Astro.props;
---
<a
    href={GetArticleLink(id)}
    class={`relative flex flex-col justify-between overflow-hidden rounded-md shadow-lg border border-paint-surface bg-paint-mantle hover:bg-paint-crust transition-all duration-250 ease-in-out group ${gridspan}`}
>
    <article class="relative size-full flex flex-col gap-2 text-base p-6">
        <div>
            <p class="uppercase text-sm font-bold tracking-wider group-hover:tracking-normal text-ink-muted mb-2 transition-all duration-250">
                {data.Series ?? SiteSettings.Articles.SeriesDefaultValue}
            </p>
            <h2 class="text text-lg font-bold text-ink-accent transition-colors duration-200">
                {data.Title}
            </h2>
        </div>

        <p class="relative text-ink-soft group-hover:text-ink-default transition-all duration-250 ease-in-out">{data.Caption}</p>

        <div class="flex flex-1 justify-between items-end gap-2 text-ink-muted">
            <time datetime={data.Published.toISOString()}>{ToShortDate(data.Published)}</time>
            <p class="uppercase">{GetReadingTime(body ?? "")} min</p>
        </div>
    </article>
</a>