---
import type { PageMetadata } from "../types";
import { SiteSettings } from "../utilities";

type Props = PageMetadata;
const Properties = Astro.props;

const robotsContent = Properties.Hidden ? "noindex, nofollow" : "index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1";
const IconVersion = Date.now();
---

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="generator" content={Astro.generator} />

    <title>{Properties.Title}</title>
    <link rel="canonical" href={Astro.url.href} />

    <meta name="description" content={Properties.Description} />
    {Properties.Keywords && (
        <meta name="keywords" content={Properties.Keywords.join(", ")}>
        <meta name="robots" content={robotsContent} />
    )}

    {SiteSettings.Fonts.map((url) => (
        <link rel="preconnect" href={url} crossorigin={url.includes("gstatic") ? "" : undefined} />
    ))}

    <meta property="og:site_name" content={SiteSettings.SiteName} />
    <meta property="og:type" content={Properties.OpenGraph?.Type ?? "website"} />
    <meta property="og:title" content={Properties.Title} />
    <meta property="og:description" content={Properties.Description} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:image" content={Properties.OpenGraph?.Image?.Source ?? SiteSettings.DefaultImage.Source} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content={Properties.OpenGraph?.Image?.Caption ?? SiteSettings.DefaultImage.Caption} />
    <meta property="og:locale" content={SiteSettings.locale} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={Properties.Title} />
    <meta name="twitter:description" content={Properties.Description} />
    <meta name="twitter:image" content={Properties.OpenGraph?.Image?.Source ?? SiteSettings.DefaultImage.Source} />
    <meta name="twitter:creator" content={SiteSettings.TwitterHandle} />

    <link rel="icon" type="image/png" href={`/favicon-96x96.png?v=${IconVersion}`} sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href={`/favicon.svg?v=${IconVersion}`} />
    <link rel="shortcut icon" href={`/favicon.ico?v=${IconVersion}`} />
    <link rel="apple-touch-icon" sizes="180x180" href={`/apple-touch-icon.png?v=${IconVersion}`} />
    <meta name="apple-mobile-web-app-title" content={SiteSettings.Slug} />
    <link rel="manifest" href={`/site.webmanifest?v=${IconVersion}`} />    

    {Properties.Schema ? (
        <script is:inline type="application/ld+json" set:html={JSON.stringify(Properties.Schema)} />
    ) : (
        <script is:inline type="application/ld+json" set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": Properties.Title,
        "description": Properties.Description,
        "url": Astro.url.href
        })} />
    )}
    <slot />
</head>