---
import type { HTMLAttributes } from 'astro/types';
import { ToDescriptiveDate } from '../utilities';

type Props = HTMLAttributes<"p"> & {
    label: string
    value?: string
    time?: Date
}

const { label, value, time, class: containerclass, ...props } = Astro.props;
---
<p class={`grid gap-1 text-sm md:text-base ${containerclass}`}>
    <span class="uppercase font-bold text-ink-soft">{label}</span>
    {time
        ? (<time class="text-ink-muted" datetime={time.toISOString()}>{ToDescriptiveDate(time)}</time>)
        : (<span class="text-ink-muted">{value}</span>)
    }
</p>
