---
import IconPartial from "Partials:/IconPartial.astro";
import type { CollectionTypes } from "../../../types";
import { GetProductionArticles, SiteSettings, Slugify } from "../../../utilities";
import ArticlePreview from "Partials:/ArticlePreview.astro";
import NavigationView from "Views:/NavigationView.astro";

export async function getStaticPaths() {
    const articles = await GetProductionArticles();

    const uniqueSlugs = [
        ...new Set(
            articles
                .map((article) => article.data.Series)
                .filter(Boolean)
                .map((s) => s && Slugify(s))
        ),
    ];

    return uniqueSlugs.map((slug) => {
        const seriesArticles = articles.filter(
            (article) => article.data.Series && Slugify(article.data.Series) === slug
        );

        const originalSeries = 
            articles
                .map((a) => a.data.Series)
                .find((s) => s && Slugify(s) === slug) || slug;

        return {
            params: { series: slug },
            props: {
                series: originalSeries,
                articles: seriesArticles.sort((a, b) => b.data.Published.getTime() - a.data.Published.getTime())
            },
        };
    });
}

const { series, articles } = Astro.props;
---

<NavigationView Title={`${SiteSettings.Articles.SeriesPageTitle} : ${series}`} Hidden={true} container={true}>
    <div class="grid gap-2 max-w-xl mx-auto text-center mb-12" >
        <h1 class="text-xl text-mocha-text">
            {`${SiteSettings.Articles.SeriesPageTitle} :: ${series}`}
        </h1>
    </div>

    <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-4">
        {articles.map((e: CollectionTypes.Article) => <ArticlePreview {...e} />)}
    </div>
</NavigationView>
