---
import NavigationView from "Views:/NavigationView.astro";
import { SiteSettings } from "../../utilities";
---

<NavigationView Title={`${SiteSettings.SiteName} :: 404`} Hidden={true} container={true}>
    <div class="flex flex-col items-center gap-2 max-w-xl mx-auto text-center mt-4 lg:mt-12">
        <h1 class="text-6xl text-ink-default">404</h1>
        <p class="text-lg text-ink-default">{SiteSettings.NotFound.Title}</p>
        <p class="text-base text-center text-ink-subtext leading-none">

            {SiteSettings.NotFound.Caption.map((e) => (
                <span>{e}</span>
            ))}
        </p>

        <a 
            class="rounded-md border border-paint-surface hover:bg-paint-surface text-ink-default text-base leading-none py-3 px-4 uppercase mt-4"
            href="/"
        >
            {SiteSettings.NotFound.HomeActionLabel}
        </a> 
    </div>
</NavigationView>